html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}


a {
    text-decoration: none;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}

#apps {
    color: rgb(128, 128, 128);
}

#apps:hover {
    color: black;
}

a::after {
    color: rgba(0, 0, 0, 0.87)
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#apps {
    margin-top: 4px;
}

.avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    margin-top: 4px;
}

#google {
    width: 275px;
    height: 200px;
    margin-top: 100px;
}

#search {
    border-radius: 24px;
    display: flex;
    width: 460px;
    height: 44px;
    margin-top: -25px;
    border: 0.1px solid rgba(158, 158, 158, 0.404);
    margin-bottom: 20px;
    background-image: url(images/mic.png), url(images/search.png);
    background-repeat: no-repeat;
    background-size: 15px 20px, 15px 15px;
  background-position-x: 95%, 5%;;
  background-position-y: center;
}



#search:hover {
    box-shadow: 1px 2px 8px rgba(158, 158, 158, 0.404);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

button {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button:hover {
    border-color: #5f636862;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: #f2f2f2;
    border-top: 0.5px solid #70757a23;
    flex-flow: wrap column;
    align-items: flex-end;
    align-content: space-between;
    margin-left: -10px;
    margin-right: -40px;
    padding-bottom: 8px;
}

footer a {
    font-size: 14px;
    color: #70757a;
}

.foot1, .foot2 {
    margin: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.foot2 {
    position: absolute;
}

.foot2:first-child {
    padding-left: 10px;
}

@media only screen and (max-width: 700px) {
    #search {
width: 60%;    
}
footer {
height: 100px;
align-content: center;
}
.foot2 {
    position: relative;
    align-self: center;
}
  }

@media only screen and (max-width: 460px) {

    footer {
height: 150px;
}

.foot1, .foot2 {
text-align: center;
}

footer a {
    font-size: 12px;
}

.foot1 {
    padding-top: 10px;
}

.foot2 {
    padding-bottom: 20px;
margin-top: 1px;
}

  }

textarea:focus, input:focus{
    outline: none;
}

textarea, input {
    padding-left: 60px;
    padding-right: 60px;
}







